nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-item {
  height: 100%;
  padding-right: 40px;
}

.nav-item a {
  padding: 0px 6vw 0px 6vw;
  color: rgb(245, 173, 173);
  background-color: rgba(94, 25, 25, 0.692);
  text-decoration: none;
  font-size: 1.4em;
  font-weight: 700;
  border-radius: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.185);
}

.nav-item:hover a {
  color: rgba(94, 25, 25);
  background-color: rgb(228, 163, 163, 0.8);
  border-radius: 10px;
}

select {
  font-size: large;
  height: 2.05vw;
  margin-bottom: 5px;
  margin-right: 2px;
  border-radius: 7px;
  background-color: rgb(245, 234, 231);
}

#button {
  width: 4vw;
  height: 2.05vw;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  letter-spacing: 1.5px;
  background-color: rgb(228, 163, 163);
  border-color: rgb(167, 118, 118);
}

.selector {
  display: inline-block;
  padding-right: 20px;
}
