p {
  color: rgba(94, 25, 25);
}

div h2 {
  font-size: x-large;
}

.AlineadoIzquierdo {
  background-color: rgba(248, 231, 227, 0.7);
  margin-right: 25vw;
}

.AlineadoIzquierdo H2 {
  text-align: left;
}

.AlineadoDerecho {
  background-color: rgba(248, 231, 227, 0.7);
  margin-left: 25vw;
}

.AlineadoDerecho H2 {
  text-align: right;
}

.autor {
  font-style: italic;
  color: rgb(32, 3, 3);
  font-weight: 500;
}
