.parrafo {
  color: rgba(94, 25, 25);
}

div h2 {
  font-size: x-large;
}

.left {
  background-color: rgba(248, 231, 227, 0.7);
  margin-right: 30vw;
}

.left H2 {
  text-align: left;
}

.right {
  background-color: rgba(248, 231, 227, 0.7);
  border-top: 0px;
  margin-left: 30vw;
}

.right H2 {
  text-align: right;
}
