@import url("https://fonts.googleapis.com/css2?family=Lato:display=swap");

* {
  font-family: "Lato", sans-serif;
  display: flexbox;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
}

.banner {
  font-size: x-large;
  text-align: center;
  padding-top: 2.5vw;
}

section {
  flex-direction: column;
  background-image: url("./public/multimedia/fondo2.png");
  background-attachment: fixed;
  background-size: contain;
}

#pag-principal {
  font-size: 1.4em;
  line-height: 1.4;
  text-align: justify;
}

#pag-principal div div {
  margin-top: 7vw;
  border-radius: 1vw;
  padding-top: 1px;
  padding-bottom: 1px;
}
